_site
.sass-cache
.jekyll-metadata

*.swp

.pnp.cjs
node_modules/
.Rproj.user/
.vscode/
package-lock.json
.DS_Store

reactgeoda/.yarn
reactgeoda/library/.yarn
reactgeoda/library/out
reactgeoda/webapp/.next