<footer>
    <p>Maintained by lixun910 Template by <a href="http://willianjusten.com.br">Willian Justen</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script nomodule="" src="{{ "/_next/static/chunks/polyfills-a40ef1678bae11e696dba45124eadd70.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/_next/static/chunks/webpack-9e4736d2f2b2c12a0f02.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/_next/static/chunks/main-3aa001886521be88a515.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/_next/static/chunks/pages/_app-34519d6503a0be444a27.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/_next/static/chunks/pages/map-aaeab43ad2ad676116af.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/_next/static/reactgeoda-v0.1/_buildManifest.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/_next/static/reactgeoda-v0.1/_ssgManifest.js" | prepend: site.baseurl }}" ></script>
